

"custom_css": "common/css/main.css",
"custom_js": "common/js/main.js"
 ```

Into your jazzmin settings (Ensure these files can be found by the static file finder)

### Adding extra actions to model's form view

Add a template for your model on your main template directory, e.g [app/templates/admin/app_name/model_name/submit_line.html](https://github.com/farridav/django-jazzmin/tree/master/tests/test_app/library/books/templates/admin/loans/bookloan/submit_line.html)

```djangotemplate
{% extends "admin/submit_line.html" %}

{% block extra-actions %}

{# For a simple link #}
<div class="form-group">
    <a href="/some/url" class="btn btn-outline-info form-control">Some Action</a>
</div>

{# Or, to process this with form submission #}
<div class="form-group">
    <input type="submit" class="btn btn-outline-info form-control" value="response_change" name="_your_action">
</div>
{% endblock %}