.table-scroll table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.table-scroll thead {
    flex: 0 0 auto;
}

.table-scroll tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-scroll tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
